/* Body styling */
body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    overflow: hidden;
    position: relative;
}

/* Fullscreen button style */
#fullscreen-btn, #play-video-btn {
    position: absolute;
    bottom: 20px;
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    z-index: 10;
}

#fullscreen-btn {
    left: 50%;
    transform: translateX(-50%);
}

#play-video-btn {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 150px;  /* Make sure it's slightly to the right */
}

/* Video background style */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Clock container to center everything */
.clock-container {
    text-align: center;
}

/* Styling for the analog clock */
.analog-clock {
    position: relative;
    width: 250px;
    height: 250px;
    border: 10px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #222;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

/* Glowing effect for clock hands */
.hour-hand, .minute-hand, .second-hand {
    position: absolute;
    background-color: #fff;
    transform-origin: 50% 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    box-shadow: 0 0 10px #0ff, 0 0 15px #0ff;
}

/* Specific styles for the hour, minute, and second hands */
.hour-hand {
    width: 8px;
    height: 60px;
    background-color: #f39c12;
}

.minute-hand {
    width: 5px;
    height: 80px;
    background-color: #16a085;
}

.second-hand {
    width: 3px;
    height: 100px;
    background-color: #e74c3c;
    box-shadow: 0 0 20px #e74c3c;
}

/* Time display beneath the clock */
.time-display {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f39c12;
    text-shadow: 2px 2px 5px #000, 0 0 15px #f39c12;
}
